[Desktop Entry]
Type=Application
Name=DelayCut
GenericName=Audio file cutter
Comment=Cuts and corrects delay in AC3 and DTS files
Icon=delaycut
Exec=delaycut %F
Terminal=false
Categories=AudioVideo;Audio;AudioVideoEditing;
