Source: delaycut
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
 debhelper (>= 9),
 libqt4-dev,
 qt4-qmake
Standards-Version: 3.9.5
Section: sound
Homepage: https://github.com/darealshinji/delaycut
Vcs-Git: https://github.com/darealshinji/delaycut.git

Package: delaycut
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: cuts and corrects delay in ac3 and dts files
 It corrects delay and is also able to cut audio files
 coded ac3, dts, mpa and wav.
 It is also able to fix CRC errors in ac3 and mpa files.
